option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: PyroTD-API.wsgi:application

    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /website: static

container_commands:
    01_collectstatic:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && python application.py collectstatic --noinput --clear"
    02_migrate:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && python application.py migrate --noinput"
        leader_only: true
